/*
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
--- SPACE SYSTEM
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6d5d4b; }

.heading__primary, .heading__secondary, .heading__tertiary, .heading__fourth, .heading__fifth {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading__primary {
  font-size: 4.4rem;
  color: #f9f7f6; }

.heading__secondary {
  font-size: 4.4rem;
  font-style: italic;
  line-height: 1; }
  .heading__secondary--light {
    color: #f9f7f6; }
  .heading__secondary--dark {
    color: #54483a; }

.heading__tertiary {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading__fourth {
  font-size: 1.8rem; }
  .heading__fourth--light {
    color: #f9f7f6; }
  .heading__fourth--dark {
    color: #54483a; }

.heading__fifth {
  font-size: 1.8rem;
  background-color: #101d2c;
  color: #fff;
  padding: 1.6rem 3.2rem;
  text-align: center;
  grid-area: 1 / 1 / 3 / -1;
  align-self: end;
  transform: translateY(50%);
  z-index: 2; }

.header {
  padding: 4.8rem 0;
  background-image: linear-gradient(rgba(16, 29, 44, 0.92), rgba(16, 29, 44, 0.92)), url(../../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-template-columns: max-content;
  justify-content: center;
  gap: 1.2rem 0; }
  .header__logo {
    height: 3.6rem;
    justify-self: center; }
  .header__btn {
    justify-self: start;
    align-self: start; }
  .header__seenon-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    color: #aaa;
    justify-self: center;
    display: grid;
    gap: 0 1.2rem;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center; }
    .header__seenon-text::before, .header__seenon-text::after {
      content: "";
      display: block;
      height: 1px;
      width: 35rem;
      background-color: currentColor; }
  .header__seenon-logos {
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 6.4rem; }
  .header__seenon-logo {
    height: 2.4rem;
    filter: brightness(70%); }

.footer {
  background-color: #101d2c;
  padding: 2rem;
  grid-row: 6 / -1;
  grid-column: full-start / full-end; }

.list-nav {
  list-style: none;
  padding: 3.2rem;
  margin: 3.6rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.6rem;
  align-items: stretch; }
  .list-nav__link:visited, .list-nav__link:link {
    display: block;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: all 0.3s; }
  .list-nav__link:hover, .list-nav__link:active {
    background-color: rgba(255, 255, 255, 0.05); }

.copyright {
  text-align: center;
  margin-bottom: 4.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #fff; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex; }
  .sidebar__icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: #fff; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end; }

.features {
  margin: 16rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6.4rem; }

.story__pictures {
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(178, 132, 81, 0.5)), url(../../img/back.jpg);
  background-size: cover;
  grid-column: full-start / col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .story__pictures > * {
    cursor: pointer; }
  .story__pictures--1 {
    width: 100%;
    grid-area: 2 / 2 / 6 / 6; }
  .story__pictures--2 {
    width: 115%;
    grid-area: 4 / 4 / 6 / 7;
    z-index: 20; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6.4rem 8vw;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  align-content: center;
  gap: 2.4rem; }

.story__text {
  font-size: 1.4rem;
  font-style: italic; }

.homes {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  gap: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start / full-end; }

.btn {
  border: none;
  background-color: #c69963;
  padding: 1.6rem 3.2rem;
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  justify-self: start;
  cursor: pointer; }
  .btn:hover {
    background-color: #b28451; }
  .btn__home {
    grid-area: 4 / 1 / 5 / -1;
    justify-self: stretch; }

.btn-side {
  border: none;
  background-color: inherit;
  margin-top: 3.2rem;
  align-self: flex-start;
  flex: 1;
  cursor: pointer; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 1.4rem 2.4rem;
  align-items: start; }
  .feature__icon {
    width: 4.4rem;
    height: 4.4rem;
    fill: #b28451;
    grid-row: 1 / span 2;
    transform: translateY(-1.2rem); }

.gallery {
  padding: 3.2rem 3.2rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.6rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; }
  .gallery__item--1 {
    grid-area: 1 / 1 / 3 / 3; }
  .gallery__item--2 {
    grid-area: 1 / 3 / 4 / 6; }
  .gallery__item--3 {
    grid-area: 1 / 6 / 3 / 7; }
  .gallery__item--4 {
    grid-area: 1 / 7 / 3 / 9; }
  .gallery__item--5 {
    grid-area: 3 / 1 / 6 / 3; }
  .gallery__item--6 {
    grid-area: 4 / 3 / 6 / 5; }
  .gallery__item--7 {
    grid-area: 4 / 5 / 5 / 6; }
  .gallery__item--8 {
    grid-area: 3 / 6 / 5 / 8; }
  .gallery__item--9 {
    grid-area: 3 / 8 / 6 / 9; }
  .gallery__item--10 {
    grid-area: 6 / 1 / 8 / 2; }
  .gallery__item--11 {
    grid-area: 6 / 2 / 8 / 4; }
  .gallery__item--12 {
    grid-area: 6 / 4 / 8 / 5; }
  .gallery__item--13 {
    grid-area: 5 / 5 / 8 / 8; }
  .gallery__item--14 {
    grid-area: 6 / 8 / 8 / 9; }

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .home-detail {
    margin: 7.2rem 0 3.2rem 3.2rem;
    grid-area: 3 / 1 / 4 / -1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.2rem;
    justify-items: start; }
  .home__img {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    z-index: 1; }
  .home .home__location, .home .home__area, .home .home__rooms, .home .home__price, .home .home__span {
    display: flex;
    align-items: center;
    gap: 0.8rem; }
  .home__logo, .home__like {
    width: 2rem;
    height: 2rem;
    fill: #c69963; }
  .home__like {
    grid-row: 1 / span 2;
    grid-column: 2 / -1;
    justify-self: end;
    margin: 1.2rem;
    z-index: 3; }
