body {
  font-family: $font-primary;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-grey-dark-2;
}

%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading__primary {
  @extend %heading;
}

.heading__secondary {
  @extend %heading;
}

.heading__tertiary {
  @extend %heading;
}

.heading__fourth {
  @extend %heading;

  font-size: 1.8rem;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}
